.stepper {
	display: flex;
	flex-wrap: wrap;
}

.circle {
	width: var(--circle-size);
	line-height: var(--circle-size);
	border-radius: var(--radius);
	/* background-color: var(--circle-color); */
	margin: 0 auto;
	text-align: center;
	border: 2px solid black;
}

.item {
	flex: 1;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.item:not(:last-child)::after {
	content: '';
	position: relative;
	height: 2px;
	background-color: var(--line-color);
	order: -1;
	top: calc(var(--circle-size) / 2);
	width: calc(100% - var(--circle-size) - calc(var(--spacing) * 2));
	left: calc(50% + calc(var(--circle-size) / 2 + var(--spacing)));
}

.itemMinified {
	display: flex;
	gap: var(--spacing);
	align-items: center;
}

.itemMinified:not(:last-child) {
	flex: 1;
}

.itemMinified:not(:last-child)::after {
	content: '';
	position: relative;
	z-index: -1;
	height: 2px;
	background-color: #e0e0e0;
	flex: 1;
	margin-right: 0.5rem;
}

.title {
	font-weight: bold;
	margin: 0;
}

.desc {
	color: grey;
	padding-left: 0.25rem;
	padding-right: 0.25rem;
}

.descriptionBox {
	background-color: antiquewhite;
	border: 2px solid black;
	margin: 1rem auto 0;
	width: 80%;
}
