.split-button {
	display: inline-flex;
	border-radius: var(--radius);
	background: var(--background-color);
	color: var(--text-color);
	fill: var(--text-color);
	position: relative;

	touch-action: manipulation;
	user-select: none;
	-webkit-tap-highlight-color: transparent;

	& svg {
		inline-size: 2ch;
		box-sizing: content-box;
		stroke-linecap: round;
		stroke-linejoin: round;
		stroke-width: 2px;
	}

	& button {
		cursor: pointer;
		appearance: none;
		background: none;
		border: none;

		display: inline-flex;
		align-items: center;
		gap: 1ch;
		white-space: nowrap;

		font-family: inherit;
		font-size: inherit;
		font-weight: 500;

		padding-block: 1.25ch;
		padding-inline: 2.5ch;

		color: var(--text-color);
		outline-color: var(--background-color);
		outline-offset: -5px;

		&:is(:hover, :focus-visible) {
			box-shadow: var(--hover-shadow);
		}

		&:active {
			background: border-box
				radial-gradient(var(--background-color), rgba(0, 0, 0, 0.1));
		}
	}
}

.popup {
	position: absolute;
	writing-mode: horizontal-tb;
	inset-block-end: 75%;
	inset-inline-start: 75%;

	list-style-type: none;
	background: var(--text-color);
	color: var(--background-color);
	padding-inline: 0;
	padding-block: 0.5ch;
	border-radius: var(--radius);
	overflow: hidden;
	display: flex;
	flex-direction: column;
	font-size: 0.9em;

	& button {
		width: 100%;
		background: var(--text-color);
		color: var(--background-color);
		border-radius: var(--radius);

		&:hover {
			box-shadow: none;
			background-color: var(--background-color);
			color: var(--text-color);

			& > svg {
				fill: var(--text-color);
			}
		}
	}
}

.summary {
	list-style: none;
	height: 100%;

	&:focus {
		outline: none;
	}

	&::after {
		content: '';
		cursor: pointer;

		display: block;
		width: 2rem;
		height: inherit;

		border: none;
		border-inline-start: 1px solid var(--border-color);
		border-radius: 0 var(--radius) var(--radius) 0;

		background-repeat: no-repeat;
		background-position: 0;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' fill='white' viewBox='0 0 20 20'%3E%3Cpath d='M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z' /%3E%3C/svg%3E");
	}
}
.summary::-webkit-details-marker {
	display: none;
}

.details {
	& .summary {
		cursor: pointer;
		border-radius: 0 var(--radius) var(--radius) 0;

		&:hover {
			box-shadow: var(--hover-shadow);
		}
	}

	&[open] {
		& .summary::after {
			transform: rotate(0.5turn);
			border-inline-start: none;
			border-inline-end: 1px solid var(--border-color);
			border-radius: var(--radius) 0 0 var(--radius);
		}
	}
}
